<div class="hero-full-container background-image-container white-text-container"
  style="background-image: url('./assets/images/plant.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content">
            <h1>Hello,<br>
              <span id="typed-strings">
                <span>I am Vijay Bhatt</span>
                <br />
                <span>Javascript/Python Developer</span>
                <br />
                <span>Welcome to my portfolio</span>
              </span>
              <span id="typed"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>