<header>
    <nav class="navbar  navbar-fixed-top" [ngClass]="{'navbar-inverse' : homeClicked,'navbar-default' : !homeClicked}">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a [routerLink]="['/']" title="" (click)="setHomeClicked(1)">01 : Home</a></li>
                    <li><a [routerLink]="['/work']" title="" (click)="setHomeClicked(0)">02 : Works</a></li>
                    <li><a [routerLink]="['/about']" title="" (click)="setHomeClicked(0)">03 : About me</a></li>
                    <li><a [routerLink]="['/contact']" title="" (click)="setHomeClicked(0)">04 : Contact</a></li>
                </ul>


            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>