<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : About me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Core Javascript Developer</h3>
                <p>Over the last 5 years javascript has been my most important area of expertise.
                  I have knowledge of implementing various design patterns in javascript
                  using both object oriented and functional programming paradigm.
                  Worked extensively with asynchronous javascript programming using promises and am well proficient in
                  using latest javascript ES6 features and more.
                </p>
                <h3>MEAN stack </h3>
                <p>I have good amount of relevant experience working in MEAN stack profile. Well versed with angular as
                  the frontend framework language. In frontend i am also well versed with html/css,
                  webpack module bundling, reactive programming and responsive design patterns. I have used node as
                  backend/middleware language and worked in express for rest api creation
                  and mongoose for interacting with no sql mongodb database. I have knowledge of using logging
                  framework, file upload libraries and security/authentication mechanism in node.
                  I look myself as a full stack developer giving end to end solution for web application development.
                  <h3>Docker and Containerization</h3>
                  <p>
                    I have kind of started on microservices and creating multi container application in MEAN stack
                    domain.
                    Although the relevant experience is only 1 year but i have experience of working in docker, nginx
                    and little bit in kubernetes pod configuration
                    and cluster ip service creation for a MEAN stack application.
                  </p>
                  <h3>Python</h3>
                  <p>
                    I have started on learning python as well for increasing backend expertise and giving scripting
                    solution. I have already shared my work samples for python in the work section.
                    Other than that i also have fair bit of knowledge in testing automation in python.
                  </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./assets/images/profil.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>